[multiplayer]
  id=SXC_Light_Cave_{SXC_VERSION}
  name="SXC Light Cave {SXC_VERSION}"
  map_data="{~add-ons/SXCollection/maps/SXC_Light_Cave.map}"
  description= _ "You have to try to kill all leaders until the turn limit expires or you will lose. You play only with your leader but you can enhance it during the game. You get gold, extra moves and attack for every enemy you kill. Use default map settings otherwise you will lose immediately. Best use the SXC or SurivalXtreme Era. Have fun!"
  {SXC_DEFAULT_MAP_SETTINGS 200 "win" "story/landscape-bridge.jpg" "<span color='#BCB088' size='small' weight='bold' face='roman'>You and your party take cover inside a cave from a coming blizzard. But this cave is more than it appears at a glance. Created by Light, With assistance from SpoOky</span>"}

#   {SXC_TEST_PLAYER_SIDE_2 1 800 (color=red)}
#   {SXC_TEST_PLAYER_SIDE_2 2 800 (color=blue)}
#   {SXC_TEST_PLAYER_SIDE_2 3 800 (color=green)}
#   {SXC_TEST_PLAYER_SIDE_2 4 800 (color=orange)}
#   {SXC_TEST_PLAYER_SIDE_2 5 800 (color=teal)}

  {SXC_PLAYER_SIDE_2 1 800 (color=red)}
  {SXC_PLAYER_SIDE_2 2 800 (color=blue)}
  {SXC_PLAYER_SIDE_2 3 800 (color=green)}
  {SXC_PLAYER_SIDE_2 4 800 (color=orange)}
  {SXC_PLAYER_SIDE_2 5 800 (color=teal)}

  {SXC_ENEMY_SIDE 6 200 5 "Goblin Spearman,Goblin Impaler,Goblin Rouser,Wolf Rider,Young Ogre,Orcish Archer,Orcish Assassin,Orcish Grunt,Orcish Leader,Saurian Augur,Saurian Skirmisher,Troll Whelp" (
    color=black
    name=Boss
  ) "Orcish Sovereign" 925 2 25 2 21 30 RI BLANK BLANK BLANK}
  {SXC_ENEMY_SIDE 7 300 10 "Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Scout,Dwarvish Thunderer,Dwarvish Ulfserker,Gryphon Rider" (
    color=black
    name=Boss
  ) "Dwarvish Dragonguard" 1441 4 31 4 20 40 RA BLANK BLANK BLANK}
  {SXC_ENEMY_SIDE 8 400 15 "Ruffian,Peasant,Woodsman,Horseman,Bowman,Cavalryman,Fencer,Heavy Infantryman,Sergeant,Spearman,Mage,Footpad,Thief,Thug,Poacher" (
    color=black
    name=Boss
  ) "Assassin" 1699 7 42 7 45 70 BLANK BLANK BLANK BLANK}
  {SXC_ENEMY_SIDE 9 500 20 "Vampire Bat,Walking Corpse,Blood Bat,Ghoul,Soulless,Dark Adept,Skeleton,Skeleton Archer,Ghost" (
    color=black
    name=Boss
  ) "Death Knight" 1934 8 62 9 62 70 MP RC BLANK BLANK}

  [event]
    name=prestart
    {SXC_INIT_VARIABLES}
    {VARIABLE brutal 10}
  [/event]

  [event]
    name=start
    {SXC_ARMORY_LIMIT 1}
    {SXC_ARMORY_LIMIT 2}
    {SXC_ARMORY_LIMIT 3}
    {SXC_ARMORY_LIMIT 4}
    {SXC_ARMORY_LIMIT 5}
    {SXC_NO_GOLD_FOR_NOBODY}

    {SXC_BEFORE_SHOPS}
    {SXC_SHOP_2 37 31 "terrain/village/human-city.png"}
    {SXC_SHOP_2 30 26 "terrain/village/human-city2.png"}
    {SXC_SHOP_2 2 29 "terrain/village/human-city3.png"}
    {SXC_SHOP_2 2 16 "terrain/village/human-city3.png"}
    {SXC_SHOP_EVENT}

    {SXC_PLACE_ITEM 31 30 "scenery/rubble.png" ""}
    {SXC_PLACE_ITEM 32 32 "scenery/rubble.png" ""}

    {SXC_CHEST_GOLD 2 11 500}
    {SXC_CHEST_GOLD 9 8 200}
    {SXC_CHEST_GOLD 12 28 400}
    {SXC_CHEST_GOLD 20 27 200}
    {SXC_CHEST_GOLD 20 29 200}
    {SXC_CHEST_GOLD 21 15 300}
    {SXC_CHEST_GOLD 25 40 200}
    {SXC_CHEST_GOLD 26 1 500}
    {SXC_CHEST_GOLD 26 32 200}
    {SXC_CHEST_GOLD 29 12 250}
    {SXC_CHEST_GOLD 30 35 200}
    {SXC_CHEST_GOLD 33 27 200}
    {SXC_CHEST_GOLD 35 28 200}
    {SXC_CHEST_GOLD 36 28 200}
    {SXC_YELLOW_POTION 19 35}
    {SXC_YELLOW_POTION 20 10}
    {SXC_YELLOW_POTION 21 30}
    {SXC_YELLOW_POTION 26 33}
    {SXC_YELLOW_POTION 32 27}
    {SXC_DEFRING 18 34}
    {SXC_DEFRING 34 13}
    {SXC_RESRING 28 8}
    {SXC_RESRING 31 38}

    {SXC_ENEMY_GUARD_3 S none 1 10 "Fugitive" 8 1 538 4 14 4 13 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 3 14 "Red Mage" 8 1 358 2 14 2 12 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 4 27 "Javelineer" 8 1 302 3 7 3 7 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 5 30 "Outlaw" 8 1 308 3 10 3 9 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 5 35 "Dwarvish Stalwart" 7 2 296 3 8 3 10 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 7 31 "Dwarvish Stalwart" 7 1 296 3 8 3 10 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 8 14 "Giant Spider" 9 1 296 3 2 3 7 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 8 33 "Dwarvish Sentinel" 7 4 432 3 11 3 11 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 9 2 "Arch Mage" 8 4 546 3 13 2 18 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 9 8 "Giant Spider" 9 1 346 3 7 3 12 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 10 21 "Orcish Slayer" 6 3 264 2 9 2 9 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 11 3 "Iron Mauler" 8 4 536 4 10 2 12 30 RI BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 11 38 "Dwarvish Sentinel" 7 4 432 3 11 3 11 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 12 18 "Orcish Slayer" 6 3 264 2 9 2 9 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 13 3 "Arch Mage" 8 4 546 3 13 2 18 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 14 21 "Orcish Slayer" 6 3 264 2 9 2 9 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 14 33 "Dwarvish Sentinel" 7 4 432 3 11 3 11 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 15 3 "Iron Mauler" 8 4 536 4 10 2 12 30 RI BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 16 38 "Dwarvish Pathfinder" 7 1 308 3 7 3 7 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 17 2 "Arch Mage" 8 4 546 3 13 2 18 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 17 40 "Dwarvish Steelclad" 7 1 291 3 4 2 4 10 RI BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 18 40 "Dwarvish Thunderguard" 7 1 306 3 9 2 2 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 19 36 "Dwarvish Sentinel" 7 1 332 3 11 3 11 30 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 20 10 "Ranger" 8 1 390 2 13 2 13 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 20 27 "Footpad" 8 1 120 3 5 3 5 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 20 29 "Rogue" 8 1 110 2 6 1 6 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 21 14 "Dwarvish Thunderguard" 7 1 256 2 9 2 2 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 25 39 "Dwarvish Stalwart" 7 1 296 3 8 3 10 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 26 22 "Draug" 9 1 432 2 18 2 12 40 RP BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 26 34 "Dwarvish Thunderguard" 7 1 306 3 9 2 2 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 28 2 "Skeletal Dragon" 9 1 714 4 15 3 17 40 RA BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 28 35 "Dwarvish Sentinel" 7 1 332 3 11 3 11 20 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 29 12 "Giant Spider" 9 1 546 4 12 5 17 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 29 32 "Orcish Archer" 6 3 68 1 5 1 5 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 30 29 "Skeleton Archer" 9 3 69 1 5 1 4 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 30 30 "Dwarvish Guardsman" 7 3 58 1 5 2 3 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 30 31 "Spearman" 8 3 64 1 3 2 2 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 32 5 "Lich" 9 5 1140 5 27 5 28 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 32 7 "Necromancer" 9 5 930 5 29 6 23 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 32 24 "Banebow" 9 1 550 3 12 3 16 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 33 14 "Necromancer" 9 1 530 5 19 6 13 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 33 27 "Saurian Augur" 6 1 128 2 4 2 5 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 34 8 "Spectre" 9 6 767 4 31 5 29 10 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 35 28 "Orcish Grunt" 6 1 112 2 3 1 0 0 RP BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 36 5 "Lich" 9 5 1140 5 27 5 28 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S castle 36 7 "Necromancer" 9 5 930 5 29 6 23 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 36 28 "Orcish Archer" 6 1 118 2 5 2 5 0 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 38 15 "Necromancer" 9 1 730 5 24 6 18 40 BLANK BLANK BLANK BLANK}
    {SXC_ENEMY_GUARD_3 S none 40 15 "Necromancer" 9 1 730 5 24 6 18 40 BLANK BLANK BLANK BLANK}

    {SXC_ENEMY_LEADER_SET_SPECIALS 6 0 append {WEAPON_SPECIAL_SXC_EVADE} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 6 1 append {WEAPON_SPECIAL_MARKSMAN} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 6 2 append {WEAPON_SPECIAL_SLOW} {BLANK}}

    {SXC_ENEMY_LEADER_SET_SPECIALS 7 0 append {WEAPON_SPECIAL_SLOW} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 7 1 append {WEAPON_SPECIAL_MARKSMAN} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 7 2 append {WEAPON_SPECIAL_DRAIN} {BLANK}}

    {SXC_ENEMY_LEADER_SET_SPECIALS 8 0 append {WEAPON_SPECIAL_SXC_CAUTION} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 8 1 append {WEAPON_SPECIAL_SXC_PRECISION} {BLANK}}

    {SXC_ENEMY_LEADER_ADD_ABILITY 9 ({ABILITY_SXC_DEATHAURAX 250})}
    {SXC_ENEMY_LEADER_ADD_ABILITY 9 ({ABILITY_SXC_REGENERATESX 500})}
    {SXC_ENEMY_LEADER_CHANGE_ATTACK 9 0 (
      set_type=arcane
      set_description=_ "dark axe"
    )}
    {SXC_ENEMY_LEADER_SET_SPECIALS 9 0 append {WEAPON_SPECIAL_SXC_ACCURATE} {BLANK}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 9 1 append {WEAPON_SPECIAL_SXC_PRECISIONFOCUS} {WEAPON_SPECIAL_SXC_VIGILANCE}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 9 2 append {WEAPON_SPECIAL_SXC_BRUTALITY} {WEAPON_SPECIAL_SXC_EVADE}}
    {SXC_ENEMY_LEADER_SET_SPECIALS 9 3 append {WEAPON_SPECIAL_DRAIN} {WEAPON_SPECIAL_MAGICAL}}
    {SXC_ENEMY_LEADER_CHANGE_ARMOR 9 arcane 40}
    {SXC_ENEMY_LEADER_CHANGE_ARMOR 9 cold 100}
  [/event]

	{SXC_CHOOSE_DIFFICULTY 33 31}
	{SXC_INCOME_BONUS 5 6 8 10}

  [event]
    name=new turn
    first_time_only=no
    {VARIABLE_OP brutal add 1}
  [/event]

  [event]
    name=die
    first_time_only=yes
    [filter]
      role=big_boss
      side=6
    [/filter]
    [sound]
      name="gunshot.wav"
    [/sound]
    [message]
      speaker=second_unit
      message=_ "Seems this orc was standing on a button..."
    [/message]
    {MODIFY_TERRAIN Qxu^Bs/ 18 18}
    {SXC_REDRAW_TERRAIN}
  [/event]

  [event]
    name=die
    first_time_only=yes
    [filter]
      role=big_boss
      side=7
    [/filter]
    [sound]
      name="gunshot.wav"
    [/sound]
    [message]
      speaker=second_unit
      message=_ "I wonder what does this button..."
    [/message]
    {MODIFY_TERRAIN Qxu^Bs/ 12 30}
    {SXC_REDRAW_TERRAIN}
  [/event]

  [event]
    name=die
    first_time_only=yes
    [filter]
      role=big_boss
      side=8
    [/filter]
    [sound]
      name="gunshot.wav"
    [/sound]
    [message]
      speaker=second_unit
      message=_ "Should I press this button? ... Well, I will give it a try..."
    [/message]
    {MODIFY_TERRAIN Qxu^Bs/ 3 5}
    {MODIFY_TERRAIN Qxu^Bs/ 4 4}
    {SXC_REDRAW_TERRAIN}
  [/event]

  [event]
    name=die
    first_time_only=yes
    [filter]
      x,y=25,39
    [/filter]
    [message]
      speaker=second_unit
      message=_ "I feel there is something wrong in this storage room..."
    [/message]
  [/event]

  [event]
    name=moveto
    first_time_only=yes
    [filter]
      side=1,2,3,4,5
      x,y=25,40
    [/filter]
    [sound]
      name="gunshot.wav"
    [/sound]
    [message]
      speaker=unit
      message=_ "Whoa! ... I wonder what that did?"
    [/message]
    {MODIFY_TERRAIN Xu 19 35}
    # Don't let a player trap another in the storeroom
    [if]
      [have_unit]
        side=1,2,3,4,5
        x,y=18,34
      [/have_unit]
      [then]
        {MODIFY_TERRAIN Uu 18 33}
        {MODIFY_TERRAIN Uu 18 32}
        {MODIFY_TERRAIN Uu 18 31}
      [/then]
    [/if]
    {SXC_REDRAW_TERRAIN}
  [/event]

  [event]
    name=turn 10
    {SXC_MODIFY_INCOME 6 20}
    {SXC_MODIFY_INCOME 7 30}
    {SXC_MODIFY_INCOME 8 40}
    {SXC_MODIFY_INCOME 9 50}
    [allow_recruit]
      side=6
      type="Goblin Knight,Goblin Pillager,Ogre,Orcish Crossbowman,Orcish Ruler,Orcish Slayer,Orcish Warrior,Saurian Ambusher,Saurian Oracle,Saurian Soothsayer,Troll Hero,Troll Rocklobber,Troll,Troll Shaman"
    [/allow_recruit]
    [allow_recruit]
      side=7
      type="Dwarvish Berserker,Dwarvish Pathfinder,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Gryphon Master"
    [/allow_recruit]
    [allow_recruit]
      side=8
      type="Knight,Lancer,Dragoon,Duelist,Javelineer,Lieutenant,Longbowman,Pikeman,Shock Trooper,Swordsman,Red Mage,White Mage,Outlaw,Bandit,Rogue,Trapper"
    [/allow_recruit]
    [allow_recruit]
      side=9
      type="Dread Bat,Necrophage,Dark Sorcerer,Bone Shooter,Chocobone,Deathblade,Revenant,Shadow,Wraith"
    [/allow_recruit]
  [/event]

  [event]
    name=turn 20
    {SXC_MODIFY_INCOME 6 30}
    {SXC_MODIFY_INCOME 7 40}
    {SXC_MODIFY_INCOME 8 50}
    {SXC_MODIFY_INCOME 9 60}
    [allow_recruit]
      side=6
      type="Direwolf Rider,Orcish Slurbow,Orcish Sovereign,Orcish Warlord,Saurian Flanker,Great Troll,Troll Warrior"
    [/allow_recruit]
    [allow_recruit]
      side=7
      type="Dwarvish Dragonguard,Dwarvish Explorer,Dwarvish Lord,Dwarvish Runemaster,Dwarvish Sentinel"
    [/allow_recruit]
    [allow_recruit]
      side=8
      type="Grand Knight,Paladin,Cavalier,General,Halberdier,Iron Mauler,Master at Arms,Master Bowman,Royal Guard,Arch Mage,Mage of Light,Silver Mage,Assassin,Fugitive,Highwayman,Huntsman,Ranger"
    [/allow_recruit]
    [allow_recruit]
      side=9
      type="Giant Spider,Lich,Necromancer,Banebow,Death Knight,Draug,Nightgaunt,Spectre,Ghast"
    [/allow_recruit]
    [disallow_recruit]
      side=6
      type="Goblin Spearman"
    [/disallow_recruit]
  [/event]

  [event]
    name=turn 30
    {SXC_MODIFY_INCOME 6 40}
    {SXC_MODIFY_INCOME 7 50}
    {SXC_MODIFY_INCOME 8 60}
    {SXC_MODIFY_INCOME 9 70}
    [allow_recruit]
      side=8
      type="Grand Marshal,Great Mage"
    [/allow_recruit]
    [allow_recruit]
      side=9
      type="Skeletal Dragon,Ancient Lich"
    [/allow_recruit]
    [disallow_recruit]
      side=8
      type="Ruffian,Peasant,Woodsman"
    [/disallow_recruit]
    [disallow_recruit]
      side=9
      type="Vampire Bat,Walking Corpse"
    [/disallow_recruit]
  [/event]

  [event]
    name=turn 40
    {SXC_MODIFY_INCOME 6 50}
    {SXC_MODIFY_INCOME 7 60}
    {SXC_MODIFY_INCOME 8 70}
    {SXC_MODIFY_INCOME 9 80}
    [disallow_recruit]
      side=6
      type="Goblin Impaler,Goblin Rouser,Wolf Rider,Young Ogre,Orcish Archer,Orcish Assassin,Orcish Grunt,Orcish Leader,Saurian Augur,Saurian Skirmisher,Troll Whelp"
    [/disallow_recruit]
    [disallow_recruit]
      side=7
      type="Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Scout,Dwarvish Thunderer,Dwarvish Ulfserker,Gryphon Rider"
    [/disallow_recruit]
    [disallow_recruit]
      side=8
      type="Horseman,Bowman,Cavalryman,Fencer,Heavy Infantryman,Sergeant,Spearman,Mage,Footpad,Thief,Thug,Poacher"
    [/disallow_recruit]
    [disallow_recruit]
      side=9
      type="Blood Bat,Ghoul,Soulless,Dark Adept,Skeleton,Skeleton Archer,Ghost"
    [/disallow_recruit]
  [/event]

  [event]
    name=turn 50
    {SXC_MODIFY_INCOME 6 60}
    {SXC_MODIFY_INCOME 7 70}
    {SXC_MODIFY_INCOME 8 80}
    {SXC_MODIFY_INCOME 9 90}
    [disallow_recruit]
      side=6
      type="Goblin Knight,Goblin Pillager,Ogre,Orcish Crossbowman,Orcish Ruler,Orcish Slayer,Orcish Warrior,Saurian Ambusher,Saurian Oracle,Saurian Soothsayer,Troll Hero,Troll Rocklobber,Troll,Troll Shaman"
    [/disallow_recruit]
    [disallow_recruit]
      side=7
      type="Dwarvish Berserker,Dwarvish Pathfinder,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Gryphon Master"
    [/disallow_recruit]
    [disallow_recruit]
      side=8
      type="Knight,Lancer,Dragoon,Duelist,Javelineer,Lieutenant,Longbowman,Pikeman,Shock Trooper,Swordsman,Red Mage,White Mage,Outlaw,Bandit,Rogue,Trapper"
    [/disallow_recruit]
    [disallow_recruit]
      side=9
      type="Dread Bat,Necrophage,Dark Sorcerer,Bone Shooter,Chocobone,Deathblade,Revenant,Shadow,Wraith"
    [/disallow_recruit]
  [/event]

  [event]
    name=turn 60
    {SXC_MODIFY_INCOME 6 70}
    {SXC_MODIFY_INCOME 7 80}
    {SXC_MODIFY_INCOME 8 90}
    {SXC_MODIFY_INCOME 9 100}
  [/event]

  [event]
    name=turn 70
    {SXC_MODIFY_INCOME 6 80}
    {SXC_MODIFY_INCOME 7 90}
    {SXC_MODIFY_INCOME 8 100}
    {SXC_MODIFY_INCOME 9 110}
  [/event]

  [event]
    name=turn 80
    {SXC_MODIFY_INCOME 6 90}
    {SXC_MODIFY_INCOME 7 100}
    {SXC_MODIFY_INCOME 8 110}
    {SXC_MODIFY_INCOME 9 120}
  [/event]

  [event]
    name=turn 90
    {SXC_MODIFY_INCOME 6 100}
    {SXC_MODIFY_INCOME 7 110}
    {SXC_MODIFY_INCOME 8 120}
    {SXC_MODIFY_INCOME 9 130}
  [/event]

[/multiplayer]
